body{
    background-color:black;
    background-image:url("OP.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family:erif;
}

form{
    width: 40%;
    margin: 2em auto;
    background-color: rgb(46, 46, 46,0.8);
    padding:1rem;
}

h1,p{
    text-align:center;
    color:white;
    box-shadow: 20px rgb(199, 62, 62);
    text-shadow: 20px rgb(17, 53, 107);
}

label{
    display:block;
    padding:1rem;
    color:white;
    
}
input{
    margin:auto;
    width:100%;
    min-height:1.5rem;
}
input[type="radio"],input[type="checkbox"]{
    width: 5%;
    vertical-align: bottom;
}

.tbox{
    padding:0;
    display:inline-block;
    margin:0 auto;
    width:50%;
}
.select{
    text-align:center;
}
div{
    margin: 1rem 0;
}
section{
    
    color: white;
    padding:1rem;
}

.submit{
    width:20%;
    height:2rem;
    background-color: rgb(190, 190, 68);
    display: flex;
    margin: 2rem auto;
}
textarea{
    display: block;
    width: 60%;
    margin: 1px;
    
}